.headAlign {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    border: solid 1px #fff;
    border: solid 1px #ccc;
    padding: 2%;
    flex-wrap: wrap;
    margin: 2%;
}

/* Block  */
.card {
    height: fit-content;
    margin: 1%;
    flex-basis: content;
}

/* Element */
.card__Caption {
    text-align: center;
}

.card__Image {
    max-height: 250px;
    width: 400px;
    justify-content: center;
}

.card__Items{
    padding: 2%;
    margin: 2%;
    border:5%;
    font-size: large;
}
.card__ButtonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.card__ButtonContainerButton {
    margin:5px;
    padding:10px;
    font-size: 1.0rem;  
}
.bad {  
    background-color: red;
}

.good {
    background-color:aqua
}

/* Seperating structure from skin  */
.dark {
    box-shadow: inset;
    background: blueviolet;
}

.light {
    box-shadow: white;
    background: white;
    border: solid 1px black;
}

